:root {
  --gold: #998152;
  --light-gold: #988869;
  --nav-bg: rgba(255, 255, 255, 0.584);
  --nav-border: rgba(0, 0, 0, 0.182);
  --nav-sub-r-border: #9981522f;
  --white: white;
  --nav-link: #2a312e;
  --tf-bg: #2a312e;
  --bf-bg: #1f2221;
  --search-f: #74746d;
}

body {
  font-family: din-2014, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

/* --------------- Navbar styling start --------------- */

.nav-bar {
  position: fixed;
  top: 0;
  background-color: var(--nav-bg);
  backdrop-filter: blur(10px);
  z-index: 100;
  width: 100%;
  height: 6rem;
  border: 1px solid --nav-border;
}

.nav-bar-list {
  margin: 0%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 33%;
  /* border: 1px solid red; */
}

.nav-left li a {
  margin-right: 2rem;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  /* border: 1px solid red; */
}

.nav-center img{
  transition: opacity 0.2s ease-in-out;
}

.nav-center img:hover{
  opacity: 0.5;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
  display: flex;
  width: 33%;
  height: 6rem;
  /* border: 1px solid red; */
}

.nav-li-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--nav-sub-r-border);
}

.nav-li-box img {
  width: 1.5rem;
  height: 1.5rem;
  transition: opacity 0.2s ease-in-out;
}

.nav-right .nav-li-box:nth-child(1):hover img {
  opacity: 0.5;
}

.nav-li-box svg:hover {
  fill: var(--gold);
}

.nav-bar-list hr {
  margin: 0.2rem;
  width: 1.5rem;
  height: 0.2rem;
  background: var(--gold);
  border: none;
  transition: transform 0.2s ease-in-out;
}

.nav-li-box:hover hr {
  transform: scale(1.4);
}

.nav-left li a {
  transition: color 0.1s ease-in-out;
}

.nav-left li a:hover {
  color: var(--gold);
}


.nav-bar-list li {
  text-transform: uppercase;
}

.nav-bar-list li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--nav-link);
}

/* --------------- Navbar styling end --------------- */

/* --------------- Main styling start --------------- */

main {
  width: 100%;
  height: 200vh;
  background-color: #b3bab7;
}

.first-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;
  height: 34rem;
  background-color: gray;
}

/* .bg-video{
  scale: 2x;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34rem;
  overflow: hidden;
} */

.fs-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70rem;
  height: 17rem;
  /* border: 2px solid red; */
}
.fs-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
  background-color: var(--white);
}

.fs-search span {
  font-size: 0.8rem;
  color: var(--search-f);
}

.fs-search input {
  padding-left: 2rem;
  background-color: var(--white);
  font-size: 1.1rem;
  width: 35rem;
  border: none;
  border: 0;
}

.fs-search input:focus {
  outline: none;
  border: none;
}

.fs-search button {
  background-color: var(--light-gold);
  padding: 1.5rem 4rem;
  margin-right: 2rem;
  border: none;
  color: var(--white);
}

.fs-sub h1 {
  width: 50rem;
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
}

/* --------------- Main styling end --------------- */

/* --------------- Top footer styling start --------------- */

.top-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  /* padding: 0 100px 0 100px; */
  background-color: var(--tf-bg);
}

.tf-sub-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 250px;
  height: 350px;
  /* border: 1px solid red; */
}

.tf-logo {
  width: 40%;
}

.social-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 50%;
  height: 10%;
  filter: invert(100);
}

.social-container img {
  width: 40%;
  transition: opacity 0.2s ease-in-out;
}

.social-container img:hover {
  opacity: 0.5;
}

.tf-link-list {
  list-style: none;
}

.tf-link-list li {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 14px;
}

.tf-link-list li a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.1s ease-in-out;
}

.tf-link-list li a:hover {
  color: var(--gold);
}

.tf-link-list li:nth-child(1) {
  margin-top: -10%;
  padding-bottom: 30px;
  font-size: 20px;
  color: var(--gold);
}

.tf-sub-container:nth-child(4) {
  color: var(--white);
  flex: 0.6;
}

.tf-contact {
  color: var(--white);
  /* border: 1px solid red; */
  tab-size: 100px;
}

.tf-contact span:nth-child(1) {
  margin-right: 70px;
}

.tf-contact span:nth-child(4) {
  margin-right: 40px;
}

.tf-sub-container:nth-child(4) p {
  margin-top: 40px;
}

.tf-other-logos {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 45px;
  width: 100%;
}

.tf-logo1 {
  width: 70px;
}

.tf-logo2 {
  width: 50px;
}

.tf-logo3 {
  width: 100px;
}

.tf-logo4 {
  width: 50px;
}

/* --------------- Top footer styling ends --------------- */

/* --------------- Buttom footer styling start --------------- */

.bottom-footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  color: var(--white);
  background-color: var(--bf-bg);
}

.bottom-footer ul {
  display: flex;
  list-style: none;
}

.bottom-footer ul li a {
  font-size: 0.8rem;
  margin-left: 20px;
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s ease-in-out;
}

.bottom-footer ul li a:hover {
  color: var(--gold);  
}

.bottom-footer p {
  opacity: 0.8;
  font-size: 0.8rem;
  margin-left: 60px;
}

.bottom-footer .bf-anchor a {

  margin-left: 18rem;
  font-size: 1rem;
  color: var(--white);
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid var(--white);
  transition: opacity 0.2s ease-in-out;
}

.bottom-footer .bf-anchor a:hover {
  opacity: 0.5;
}
/* --------------- Buttom footer styling end --------------- */
